@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 84, 69);
}

::-moz-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 84, 69);
}

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 84, 69);
}

:-moz-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 84, 69);
}

.box9__footer-row .footer-row__newsletter .newsletter__title, .box9__footer-row .footer-row__company .company__title, .box9__footer-row .footer-row__gear-categories .gear-categories__title, .box9__footer-row .footer-row__pages .pages__title, .box8__magazine .magazine__subscribe .subscribe__text1, .box7__bg .bg__text1, .box6__minibox .minibox__shop, .meet-the-family .meet-the-family__text1, .our-promise .our-promise__text1, .box2-row__info .info__who {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(230, 185, 57);
}

.box8__magazine .magazine__subscribe .subscribe__text2, .box7__bg .bg__text2, .box6__minibox .minibox__check-out, .meet-the-family .meet-the-family__text2, .our-promise .our-promise__text2, .box2-row__info .info__a-bit {
  margin-bottom: 7px;
  font-size: 36px;
  font-family: "Roboto";
  line-height: 43px;
  color: rgb(87, 84, 69);
}

.box8__magazine .magazine__subscribe .subscribe__text3, .box7__bg .bg__text3, .box6__minibox .minibox__morbi, .meet-the-family .meet-the-family__text3, .our-promise .our-promise__text3, .box2-row__info .info__we-are {
  line-height: 19px;
  color: rgb(87, 84, 69);
}

@media (max-width: 561px) {
  .box9__footer-row .footer-row__newsletter .newsletter__title, .box9__footer-row .footer-row__company .company__title, .box9__footer-row .footer-row__gear-categories .gear-categories__title, .box9__footer-row .footer-row__pages .pages__title, .box8__magazine .magazine__subscribe .subscribe__text1, .box7__bg .bg__text1, .box6__minibox .minibox__shop, .meet-the-family .meet-the-family__text1, .our-promise .our-promise__text1, .box2-row__info .info__who {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1.9px;
  }
  .box8__magazine .magazine__subscribe .subscribe__text2, .box7__bg .bg__text2, .box6__minibox .minibox__check-out, .meet-the-family .meet-the-family__text2, .our-promise .our-promise__text2, .box2-row__info .info__a-bit {
    font-size: 30px;
    margin-bottom: 6px;
    line-height: 38px;
  }
  .box8__magazine .magazine__subscribe .subscribe__text3, .box7__bg .bg__text3, .box6__minibox .minibox__morbi, .meet-the-family .meet-the-family__text3, .our-promise .our-promise__text3, .box2-row__info .info__we-are {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 476px) {
  .box9__footer-row .footer-row__newsletter .newsletter__title, .box9__footer-row .footer-row__company .company__title, .box9__footer-row .footer-row__gear-categories .gear-categories__title, .box9__footer-row .footer-row__pages .pages__title, .box8__magazine .magazine__subscribe .subscribe__text1, .box7__bg .bg__text1, .box6__minibox .minibox__shop, .meet-the-family .meet-the-family__text1, .our-promise .our-promise__text1, .box2-row__info .info__who {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.8px;
  }
  .box8__magazine .magazine__subscribe .subscribe__text2, .box7__bg .bg__text2, .box6__minibox .minibox__check-out, .meet-the-family .meet-the-family__text2, .our-promise .our-promise__text2, .box2-row__info .info__a-bit {
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 33px;
  }
  .box8__magazine .magazine__subscribe .subscribe__text3, .box7__bg .bg__text3, .box6__minibox .minibox__morbi, .meet-the-family .meet-the-family__text3, .our-promise .our-promise__text3, .box2-row__info .info__we-are {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 391px) {
  .box9__footer-row .footer-row__newsletter .newsletter__title, .box9__footer-row .footer-row__company .company__title, .box9__footer-row .footer-row__gear-categories .gear-categories__title, .box9__footer-row .footer-row__pages .pages__title, .box8__magazine .magazine__subscribe .subscribe__text1, .box7__bg .bg__text1, .box6__minibox .minibox__shop, .meet-the-family .meet-the-family__text1, .our-promise .our-promise__text1, .box2-row__info .info__who {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1.7px;
  }
  .box8__magazine .magazine__subscribe .subscribe__text2, .box7__bg .bg__text2, .box6__minibox .minibox__check-out, .meet-the-family .meet-the-family__text2, .our-promise .our-promise__text2, .box2-row__info .info__a-bit {
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 28px;
  }
  .box8__magazine .magazine__subscribe .subscribe__text3, .box7__bg .bg__text3, .box6__minibox .minibox__morbi, .meet-the-family .meet-the-family__text3, .our-promise .our-promise__text3, .box2-row__info .info__we-are {
    font-size: 10px;
    line-height: 13px;
  }
}
.advantages__quality-assured, .advantages__designed-by-you, .advantages__premium-materials, .advantages__all-terrain-tested, .advantages__lifetime-warranty, .advantages__sustainable-sourcing {
  padding: 50px 8px 59px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1 1 33.333%;
}

.advantages__quality-assured .quality-assured__circle, .advantages__designed-by-you .designed-by-you__circle, .advantages__premium-materials .premium-materials__circle, .advantages__all-terrain-tested .all-terrain-tested__circle, .advantages__lifetime-warranty .lifetime-warranty__circle, .advantages__sustainable-sourcing .sustainable-sourcing__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(87, 84, 69);
}

.advantages__quality-assured .quality-assured__text1, .advantages__designed-by-you .designed-by-you__text1, .advantages__premium-materials .premium-materials__text1, .advantages__all-terrain-tested .all-terrain-tested__text1, .advantages__lifetime-warranty .lifetime-warranty__text1, .advantages__sustainable-sourcing .sustainable-sourcing__text1 {
  margin-top: 10px;
  margin-bottom: 9px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 24px;
  color: rgb(87, 84, 69);
}

.advantages__quality-assured .quality-assured__text2, .advantages__designed-by-you .designed-by-you__text2, .advantages__premium-materials .premium-materials__text2, .advantages__all-terrain-tested .all-terrain-tested__text2, .advantages__lifetime-warranty .lifetime-warranty__text2, .advantages__sustainable-sourcing .sustainable-sourcing__text2 {
  max-width: 289px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 84, 69);
}

.box6__minibox, .meet-the-family, .our-promise {
  max-width: 570px;
  margin: 0px auto;
  text-align: center;
  padding: 0px 16px 0px 16px;
  margin-top: 100px;
}

.store__jackets, .store__hiking-gear, .store__headwear, .store__climbing-gear, .store__apparel, .store__accessories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 31.555%;
  padding: 39px 0px 305px 0px;
  margin: 0px 8px 16px 8px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .store__jackets, .store__hiking-gear, .store__headwear, .store__climbing-gear, .store__apparel, .store__accessories {
    flex: 1 1 32%;
  }
}
@media (max-width: 700px) {
  .store__jackets, .store__hiking-gear, .store__headwear, .store__climbing-gear, .store__apparel, .store__accessories {
    flex: 1 1 47.8%;
  }
}
.store__jackets .jackets__text1, .store__hiking-gear .hiking-gear__text1, .store__headwear .headwear__text1, .store__climbing-gear .climbing-gear__text1, .store__apparel .apparel__text1, .store__accessories .accessories__text1 {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 34px;
  color: rgb(87, 84, 69);
}

.store__jackets .jackets__text2, .store__hiking-gear .hiking-gear__text2, .store__headwear .headwear__text2, .store__climbing-gear .climbing-gear__text2, .store__apparel .apparel__text2, .store__accessories .accessories__text2 {
  margin: 10px 0px 20px 0px;
  line-height: 22px;
  color: rgb(87, 84, 69);
  max-width: 252px;
}

.store__jackets .jackets__link6, .store__hiking-gear .hiking-gear__link5, .store__headwear .headwear__link4, .store__climbing-gear .climbing-gear__link3, .store__apparel .apparel__link2, .store__accessories .accessories__link1 {
  display: flex;
  justify-content: space-between;
}

.store__jackets .jackets__link6 .link6__text, .store__hiking-gear .hiking-gear__link5 .link5__text, .store__headwear .headwear__link4 .link4__text, .store__climbing-gear .climbing-gear__link3 .link3__text, .store__apparel .apparel__link2 .link2__text, .store__accessories .accessories__link1 .link1__text {
  font-size: 14px;
  line-height: 21px;
  color: rgb(87, 84, 69);
}
.store__jackets .jackets__link6 .link6__text:hover, .store__hiking-gear .hiking-gear__link5 .link5__text:hover, .store__headwear .headwear__link4 .link4__text:hover, .store__climbing-gear .climbing-gear__link3 .link3__text:hover, .store__apparel .apparel__link2 .link2__text:hover, .store__accessories .accessories__link1 .link1__text:hover {
  color: rgb(255, 255, 255);
}

.social-networks__catalina .catalina__text, .social-networks__leah .leah__text, .social-networks__brian .brian__text, .social-networks__kit .kit__text {
  font-size: 12px;
  line-height: 12px;
  color: white;
  align-self: center;
}

.box9__footer-row2 .footer-row2__text, .box9__footer-row .footer-row__newsletter .newsletter__email .email__email-button .email-button__submit, .box9__footer-row .footer-row__company .company__licenses, .box9__footer-row .footer-row__company .company__style-guide, .box9__footer-row .footer-row__company .company__terms, .box9__footer-row .footer-row__company .company__contact, .box9__footer-row .footer-row__company .company__our-team, .box9__footer-row .footer-row__company .company__about-us, .box9__footer-row .footer-row__gear-categories .gear-categories__headwear, .box9__footer-row .footer-row__gear-categories .gear-categories__apparel, .box9__footer-row .footer-row__gear-categories .gear-categories__accessories, .box9__footer-row .footer-row__gear-categories .gear-categories__jackets, .box9__footer-row .footer-row__gear-categories .gear-categories__climbing-gear, .box9__footer-row .footer-row__gear-categories .gear-categories__hiking-gear, .box9__footer-row .footer-row__pages .pages__password, .box9__footer-row .footer-row__pages .pages__404, .box9__footer-row .footer-row__pages .pages__bg, .box9__footer-row .footer-row__pages .pages__categories, .box9__footer-row .footer-row__pages .pages__shop, .box9__footer-row .footer-row__pages .pages__home {
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.box9__footer-row .footer-row__company, .box9__footer-row .footer-row__gear-categories, .box9__footer-row .footer-row__pages {
  flex: 0 1 220.8px;
  height: 193px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header__row {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  flex: 1 1 128px;
  padding: 20px 16px 19px 0px;
}

.row__2nd-part {
  flex: 0 1 788px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 460px;
  align-items: center;
  justify-content: space-between;
}
nav .nav__links {
  font-size: 13px;
  line-height: 14px;
  color: rgb(68, 68, 68);
}
nav .nav__links:hover {
  color: rgb(230, 185, 57);
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button1 {
  margin: 8px 0px 8px 16px;
}
.button1 .button1__buy-template {
  padding: 13.5px 18px 13.5px 18px;
  background-color: rgb(87, 84, 69);
  border-radius: 6px;
  color: white;
  font-size: 16px;
  line-height: 22px;
}

.button2 {
  margin: 8px 0px 8px 16px;
}
.button2 .button2__cart {
  display: flex;
  align-items: center;
  padding: 13.5px 18px 13.5px 18px;
  background-color: rgb(87, 84, 69);
  border-radius: 6px;
}
.button2 .button2__cart .cart__text {
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  font-size: 16px;
  line-height: 22px;
}
.button2 .button2__cart .cart__circle {
  position: relative;
  background-color: white;
  height: 18px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.button2 .button2__cart .cart__circle .circle__number {
  position: absolute;
  top: 1.28px;
  right: 6.7px;
  width: 8px;
  height: 11px;
  color: rgb(87, 84, 69);
  font-size: 11px;
  line-height: 18px;
}

.content {
  flex: 1 1 auto;
}

.box1 {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 1440px;
  margin: 0px auto;
  background: url("Outdoor img/Outdoor img content/IMAGE.png") center/cover no-repeat;
}

.exploration {
  margin-top: 218px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgb(230, 185, 57);
  text-transform: uppercase;
}

h1 {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-size: 48px;
  line-height: 58px;
  color: white;
  max-width: 416px;
}

.lorem1 {
  margin-bottom: 227px;
  font-size: 17px;
  line-height: 25px;
  color: rgb(202, 204, 209);
  max-width: 495px;
}

@media (max-width: 561px) {
  .exploration {
    font-size: 13px;
    margin-top: 188px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 8px;
    line-height: 50px;
  }
  .lorem1 {
    font-size: 15px;
    margin-bottom: 187px;
    max-width: 340px;
    line-height: 22px;
  }
}
@media (max-width: 476px) {
  .exploration {
    font-size: 12px;
    margin-top: 158px;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 7px;
    max-width: 320px;
    line-height: 42px;
  }
  .lorem1 {
    font-size: 13px;
    margin-bottom: 157px;
    max-width: 395px;
    line-height: 19px;
  }
}
@media (max-width: 391px) {
  .exploration {
    font-size: 11px;
    margin-top: 128px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 6px;
    line-height: 34px;
    max-width: 240px;
  }
  .lorem1 {
    font-size: 11px;
    margin-bottom: 127px;
    line-height: 16px;
    max-width: 230px;
  }
}
.box2 {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 1440px;
  margin: 0px auto;
  background: url("Outdoor img/Outdoor img content/Combined-Shape.png") 49.444% -30px no-repeat, url("Outdoor img/Outdoor img content/Combined-Shape.png") 8px 105.385% no-repeat;
}

.box2-row {
  display: flex;
  margin-top: 98px;
  margin-bottom: 98px;
  align-items: center;
}

.box2-row__img {
  flex: 0 1 664px;
}
.box2-row__img .img__pic1 {
  max-width: 100%;
}

.box2-row__info {
  width: 400px;
  padding-left: 16px;
}
.box2-row__info .info__read {
  width: 108px;
  margin-top: 19.5px;
  font-size: 15px;
  line-height: 21px;
  color: rgb(87, 84, 69);
  background: url("Outdoor img/Outdoor img content/Path.svg") 89px 5.5px no-repeat;
}
.box2-row__info .info__read:hover {
  color: rgb(230, 185, 57);
}

@media (max-width: 850px) {
  .box2 {
    background: url("Outdoor img/Outdoor img content/Combined-Shape.png") 49.444% -30px no-repeat, url("Outdoor img/Outdoor img content/Combined-Shape.png") right 120.385% no-repeat;
  }
  .box2-row {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 73px;
  }
  .box2-row .box2-row__img {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }
  .box2-row .box2-row__img .img__pic1 {
    max-width: 50%;
  }
  .box2-row .box2-row__info {
    padding-left: 0px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .box2-row .box2-row__info .info__read {
    text-align: left;
  }
}
.box3 {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 1440px;
  margin: 0px auto;
  background: url("Outdoor img/Outdoor img content/Combined-Shape2.svg") 969.6px 0px no-repeat, url("Outdoor img/Outdoor img content/Combined-Shape3.png") bottom left no-repeat, rgb(250, 250, 252);
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-bottom: 100px;
}

@media (max-width: 666px) {
  .advantages__quality-assured, .advantages__designed-by-you, .advantages__premium-materials, .advantages__all-terrain-tested, .advantages__lifetime-warranty, .advantages__sustainable-sourcing {
    flex: 1 1 50%;
    padding: 25px 8px 29.5px 8px;
  }
  .advantages {
    margin-bottom: 75px;
  }
}
@media (max-width: 456px) {
  .advantages__quality-assured, .advantages__designed-by-you, .advantages__premium-materials, .advantages__all-terrain-tested, .advantages__lifetime-warranty, .advantages__sustainable-sourcing {
    flex: 1 1 100%;
  }
  .advantages {
    margin-bottom: 50px;
  }
}
.box4 {
  max-width: 1440px;
  margin: 0px auto;
}

.meet-the-family {
  margin-top: 99px;
}
.container2 {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 8px;
  padding-right: 8px;
}

.store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 4px 0px;
}

.store__accessories {
  background: url("Outdoor img/Outdoor img content/img1.png") center/cover no-repeat;
}
.store__accessories .accessories__link1 {
  width: 145px;
}
.store__apparel {
  background: url("Outdoor img/Outdoor img content/img2.png") center/cover no-repeat;
}
.store__apparel .apparel__link2 {
  width: 117px;
}
.store__apparel .apparel__link2 .link2__text:hover {
  color: rgb(230, 185, 57);
}

.store__climbing-gear {
  background: url("Outdoor img/Outdoor img content/img3.png") center/cover no-repeat;
}
.store__climbing-gear .climbing-gear__link3 {
  width: 163px;
}
.store__headwear {
  background: url("Outdoor img/Outdoor img content/img4.png") center/cover no-repeat;
}
.store__headwear .headwear__link4 {
  width: 133.2px;
}
.store__hiking-gear {
  background: url("Outdoor img/Outdoor img content/img5.png") center/cover no-repeat;
}
.store__hiking-gear .hiking-gear__link5 {
  width: 142px;
}
.store__jackets {
  background: url("Outdoor img/Outdoor img content/img6.png") center/cover no-repeat;
}
.store__jackets .jackets__link6 {
  width: 115.4px;
}
.store__jackets .jackets__link6 .link6__text:hover {
  color: rgb(230, 185, 57);
}

.show {
  display: flex;
  justify-content: space-between;
  width: 171px;
  margin: 0px auto;
  margin-bottom: 100px;
}
.show .show__text {
  font-size: 15px;
  line-height: 21px;
  color: rgb(87, 84, 69);
}
.show .show__text:hover {
  color: rgb(230, 185, 57);
}

.box5 {
  max-width: 1440px;
  margin: 0px auto;
  background: url("Outdoor img/Outdoor img content/ocean.png") center/cover no-repeat;
}

.container3 {
  display: flex;
  justify-content: end;
  max-width: 1392px;
  margin: 0px auto;
  padding-right: 16px;
  padding-left: 16px;
}

.box5__social-networks {
  flex: 0 1 513px;
  margin: 512px 0px 40px 0px;
  padding: 0px 22px 16px 22px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background-color: rgb(41, 44, 50);
}

@media (max-width: 561px) {
  .box5__social-networks {
    flex-direction: column;
    flex: 0 1 37.665%;
  }
  .container3 {
    justify-content: start;
  }
}
.social-networks__kit {
  display: flex;
  justify-content: space-between;
  width: 88px;
  margin-top: 16px;
}
.social-networks__brian {
  display: flex;
  justify-content: space-between;
  width: 101px;
  margin-top: 16px;
}
.social-networks__leah {
  display: flex;
  justify-content: space-between;
  width: 82px;
  margin-top: 16px;
}
.social-networks__catalina {
  display: flex;
  justify-content: space-between;
  width: 138px;
  margin-top: 16px;
}
.box6 {
  border: 1px solid rgb(55, 92, 88);
  max-width: 1440px;
  margin: 0px auto;
  background: url("Outdoor img/Outdoor img content/Combined-Shape4.png") center/cover no-repeat, rgb(55, 92, 88);
}

.box6__minibox {
  margin-top: 99px;
}
.box6__minibox .minibox__shop {
  color: rgb(250, 250, 252);
}
.box6__minibox .minibox__check-out {
  color: rgb(230, 185, 57);
}
.box6__minibox .minibox__morbi {
  color: rgb(250, 250, 252);
}

@media (max-width: 561px) {
  .box6__minibox {
    margin-top: 74px;
  }
}
@media (max-width: 476px) {
  .box6__minibox {
    margin-top: 49px;
  }
}
.box6__link {
  max-width: 111px;
  margin: 0px auto;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  margin-top: 21px;
  margin-bottom: 99px;
  padding: 10.5px 0px 10.5px 0px;
  text-align: center;
}
.box6__link .visit-shop {
  color: rgb(87, 84, 69);
  font-size: 15px;
  line-height: 22px;
}
.box6__link .visit-shop:hover {
  color: rgb(230, 185, 57);
}

@media (max-width: 561px) {
  .box6__link {
    margin-bottom: 74px;
  }
}
@media (max-width: 476px) {
  .box6__link {
    margin-bottom: 49px;
  }
}
.box7 {
  max-width: 1440px;
  margin: 0px auto;
}

.box7__bg {
  max-width: 538px;
  margin: 100px 8px 0px 8px;
}
.box7__extreme {
  display: flex;
  justify-content: space-between;
}
.box7__extreme .extreme__first {
  margin: 20px 8px 0px 8px;
}
.box7__extreme .extreme__second {
  margin: 20px 8px 0px 8px;
}

@media (max-width: 663px) {
  .box7__bg {
    max-width: 100%;
    margin: 0px auto;
    margin: 75px 8px 0px 8px;
    text-align: center;
  }
  .box7__extreme {
    flex-wrap: wrap;
    justify-content: center;
  }
  .box7__extreme .extreme__first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 100%;
  }
  .box7__extreme .extreme__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 100%;
  }
}
.first__img {
  max-width: 100%;
}

.first__comment1 {
  margin-top: 18px;
  margin-bottom: 12.14px;
  max-width: 465px;
  color: rgb(87, 84, 69);
  font-size: 20px;
  line-height: 24px;
}

.first__author1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.first__author1 .autor1__photo-name1 {
  display: flex;
  align-items: center;
}
.first__author1 .autor1__photo-name1 .photo-name1__photo {
  max-width: 100%;
}
.first__author1 .autor1__photo-name1 .photo-name1__name1 {
  margin-left: 12px;
  margin-right: 12px;
}
.first__author1 .autor1__photo-name1 .photo-name1__name1 .name1__alex {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 18px;
  color: rgb(87, 84, 69);
}
.first__author1 .autor1__photo-name1 .photo-name1__name1 .name1__qa {
  font-size: 11px;
  line-height: 15px;
  color: rgb(230, 185, 57);
}
.first__author1 .author1__date1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 18px;
  color: rgb(111, 114, 120);
}

.second__img {
  max-width: 100%;
}

.second__comment2 {
  margin-top: 18px;
  margin-bottom: 12.14px;
  max-width: 465px;
  color: rgb(87, 84, 69);
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 561px) {
  .first__comment1 {
    font-size: 17px;
  }
  .second__comment2 {
    font-size: 17px;
  }
}
@media (max-width: 476px) {
  .first__comment1 {
    font-size: 14px;
  }
  .second__comment2 {
    font-size: 14px;
  }
}
@media (max-width: 391px) {
  .first__comment1 {
    font-size: 11px;
  }
  .second__comment2 {
    font-size: 11px;
  }
}
.second__author2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.second__author2 .autor2__photo-name2 {
  display: flex;
  align-items: center;
}
.second__author2 .autor2__photo-name2 .photo-name2__photo {
  max-width: 100%;
}
.second__author2 .autor2__photo-name2 .photo-name2__name2 {
  margin-left: 12px;
  margin-right: 12px;
}
.second__author2 .autor2__photo-name2 .photo-name2__name2 .name2__woodie {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 18px;
  color: rgb(87, 84, 69);
}
.second__author2 .autor2__photo-name2 .photo-name2__name2 .name2__pd {
  font-size: 11px;
  line-height: 15px;
  color: rgb(230, 185, 57);
}
.second__author2 .author2__date2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 18px;
  color: rgb(111, 114, 120);
}

.box7__show-all-bg {
  width: 201px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.box7__show-all-bg .show-all-bg__text {
  color: rgb(87, 84, 69);
  font-size: 15px;
  line-height: 21px;
}
.box7__show-all-bg .show-all-bg__text:hover {
  color: rgb(230, 185, 57);
}

.box8 {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 1440px;
  margin: 0px auto;
  background: url("Outdoor img/Outdoor img content/Combined-Shape5.png") 49.444% 11.609% no-repeat, url("Outdoor img/Outdoor img content/Combined-Shape6.png") 8px 104.523% no-repeat;
}

.box8__magazine {
  margin-top: 199px;
  margin-bottom: 99px;
  display: flex;
  align-items: center;
}
.box8__magazine .magazine__mag-box1 {
  flex: 0 1 664px;
}
.box8__magazine .magazine__mag-box1 .mag-box1__img {
  max-width: 100%;
}
.box8__magazine .magazine__subscribe {
  max-width: 400px;
  margin-left: 16px;
}
.box8__magazine .magazine__subscribe .subscribe__read-box8 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 108px;
}
.box8__magazine .magazine__subscribe .subscribe__read-box8 .read-box8__text {
  color: rgb(87, 84, 69);
  font-size: 15px;
  line-height: 21px;
}
.box8__magazine .magazine__subscribe .subscribe__read-box8 .read-box8__text:hover {
  color: rgb(230, 185, 57);
}

@media (max-width: 850px) {
  .box8 {
    background: url("Outdoor img/Outdoor img content/Combined-Shape5.png") top right no-repeat, url("Outdoor img/Outdoor img content/Combined-Shape6.png") 8px 104.523% no-repeat;
  }
  .box8__magazine {
    margin-top: 99px;
    margin-bottom: 74px;
    flex-direction: column;
  }
  .box8__magazine .magazine__mag-box1 {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }
  .box8__magazine .magazine__mag-box1 .mag-box1__img {
    max-width: 50%;
  }
  .box8__magazine .magazine__subscribe {
    margin-top: 16px;
    margin-left: 0px;
    text-align: center;
    max-width: 400px;
  }
  .box8__magazine .magazine__subscribe .subscribe__read-box8 {
    width: 108px;
    margin: 0px auto;
    margin-top: 20px;
  }
}
@media (max-width: 561px) {
  .box8__magazine .magazine__subscribe {
    max-width: 350px;
  }
}
@media (max-width: 476px) {
  .box8__magazine .magazine__subscribe {
    max-width: 280px;
  }
}
.footer__box9 {
  border: 1px solid rgb(87, 84, 69);
  background: rgb(87, 84, 69);
  max-width: 1440px;
  margin: 0px auto;
}

.box9__img {
  width: 160px;
  margin: 0px auto;
  margin-top: 99px;
  margin-bottom: 51px;
}

@media (max-width: 850px) {
  .box9__img {
    margin-top: 64px;
    margin-bottom: 26px;
  }
}
.box9__footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box9__footer-row .footer-row__pages {
  flex: 0 1 100px;
  margin: 24px 8px 8px 8px;
}
.box9__footer-row .footer-row__gear-categories {
  flex: 0 1 154px;
  margin: 24px 8px 8px 8px;
}
.box9__footer-row .footer-row__company {
  flex: 0 1 137px;
  margin: 24px 8px 8px 8px;
}
.box9__footer-row .footer-row__newsletter {
  flex: 0 1 458px;
  margin: 24px 8px 8px 8px;
}
.box9__footer-row .footer-row__newsletter .newsletter__text {
  max-width: 438px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(250, 250, 252);
}
.box9__footer-row .footer-row__newsletter .newsletter__email {
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
  display: flex;
  justify-content: space-between;
  padding: 7px;
}
.box9__footer-row .footer-row__newsletter .newsletter__email .email__input {
  flex: 0 1 364px;
  padding: 9px 14px 9px 14px;
  border-radius: 8px;
  background: #F9FAFB;
}
.box9__footer-row .footer-row__newsletter .newsletter__email .email__input:focus {
  background: rgba(132, 159, 187, 0.4);
}
.box9__footer-row .footer-row__newsletter .newsletter__email .email__email-button {
  border-radius: 10px;
  background: rgb(87, 84, 69);
  margin-left: 7px;
}
.box9__footer-row .footer-row__newsletter .newsletter__email .email__email-button .email-button__submit {
  margin: 9.5px 11.5px 9.5px 11.5px;
}

.box9__footer-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 8px 99px 8px;
}
.box9__footer-row2 .footer-row2__text {
  margin-right: 16px;
}
.box9__footer-row2 .footer-row2__footer-social-networks {
  flex: 0 0 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 850px) {
  .box9__footer-row2 {
    margin-bottom: 64px;
  }
}/*# sourceMappingURL=Outdoor scss.css.map */