@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@import "Outdoor nulling styles.scss";



%model1{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(230, 185, 57, 1);
}

%model2{
    margin-bottom: 7px;
    font-size: 36px;
    font-family: 'Roboto';
    line-height: 43px;
    color: rgba(87, 84, 69, 1);   
}

%model3{
    line-height: 19px;
    color: rgba(87, 84, 69, 1);
}

%model4{
    padding: 50px 8px 59px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1 1 33.333%;
}

%model5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(87, 84, 69, 1);
}

%model6{
    margin-top: 10px;
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 24px;
    color: rgba(87, 84, 69, 1);
}

%model7{
    max-width: 289px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(87, 84, 69, 1);
}

@media (max-width: 561px){
    %model1{
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 1.9px;
    }
    %model2{
        font-size: 30px;
        margin-bottom: 6px;
        line-height: 38px;
    }
    %model3{
        font-size: 14px;
        line-height: 17px;
    }
    %model5{
        height: 57.6px;
        width: 57.6px;
    }
    
    %model6{
        margin-top: 9px;
        margin-bottom: 8.1px;
        font-size: 18px;
        line-height: 21.6px;
    }
    
    %model7{
        max-width: 260.1px;
        font-size: 12.6px;
        line-height: 18px;
    }
}

@media (max-width: 476px){
    %model1{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1.8px;
    }
    %model2{
        font-size: 24px;
        margin-bottom: 5px;
        line-height: 33px;
    }
    %model3{
        font-size: 12px;
        line-height: 15px;
    }
    %model5{
        height: 51.2px;
        width: 51.2px;
    }
    
    %model6{
        margin-top: 8px;
        margin-bottom: 7.2px;
        font-size: 16px;
        line-height: 19.2px;
    }
    
    %model7{
        max-width: 231.2px;
        font-size: 11.2px;
        line-height: 16px;
    }
}

@media (max-width: 391px){
    %model1{
        font-size: 11px;
        line-height: 17px;
        letter-spacing: 1.7px;
    }
    %model2{
        font-size: 18px;
        margin-bottom: 4px;
        line-height: 28px;
    }
    %model3{
        font-size: 10px;
        line-height: 13px;
    }
    %model5{
        height: 44.8px;
        width: 44.8px;
    }
    
    %model6{
        margin-top: 7px;
        margin-bottom: 6.3px;
        font-size: 14px;
        line-height: 16.8px;
    }
    
    %model7{
        max-width: 202.3px;
        font-size: 9.8px;
        line-height: 14px;
    }
}


%model-box{
    max-width: 570px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 16px 0px 16px;
    margin-top: 100px;
}

%model-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 31.555%; 
    padding: 39px 0px 305px 0px;
    margin: 0px 8px 16px 8px;
    border-radius: 10px;
}

@media (max-width: 1000px){%model-store{flex: 1 1 32%;}}
@media(max-width: 700px){%model-store{flex: 1 1 47.8%;}}

%store__text1{
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 34px;
    color: rgba(87, 84, 69, 1);
}

%store__text2{
    margin: 10px 0px 20px 0px;
    line-height: 22px;
    color: rgba(87, 84, 69, 1);
    max-width: 252px;
}

@media(max-width: 561px){
    %model-store{padding: 35.1px 0px 274.5px 0px;}
    %store__text1{
        font-size: 25.2px;
        line-height: 30.6px;
    }
    
    %store__text2{
        margin: 9px 0px 18px 0px;
        font-size: 14.4px;
        line-height: 19.8px;
        max-width: 226.8px;
    }
}
@media(max-width: 476px){
    %model-store{padding: 31.2px 0px 244px 0px;}
    %store__text1{
        font-size: 22.4px;
        line-height: 27.2px;
    }
    
    %store__text2{
        margin: 8px 0px 16px 0px;
        font-size: 12.8px;
        line-height: 17.6px;
        max-width: 201.6px;
    }
}
@media(max-width: 391px){
    %model-store{padding: 27.3px 0px 213.5px 0px;}
    %store__text1{
        font-size: 19.6px;
        line-height: 23.8px;
    }
    
    %store__text2{
        margin: 7px 0px 14px 0px;
        font-size: 11.2px;
        line-height: 15.4px;
        max-width: 176.4px;
    }
}

%store__link{
    display: flex;
    justify-content: space-between;
}

%link__text{
    font-size: 14px;
    line-height: 21px;
    color: rgba(87, 84, 69, 1);
    &:hover{color: rgb(255, 255, 255);}
}

%social-networks__text{
    font-size: 12px;
    line-height: 12px;
    color: white;
    align-self: center;
    &:hover{color: rgba(230, 185, 57, 1);}
}

%footer-links{
    font-size: 14px;
    line-height: 20px;
    color: white;
}

%footer-minibox{
    flex: 0 1 220.8px;
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header__row{
    display: flex;
    flex-wrap: wrap;
}

.row__part1{
    flex: 1 1 128px;
    padding: 20px 16px 19px 0px;
}

.part1__flip{
    transform-style: preserve-3d;
    width: 128px;
    position: relative;
    animation: flip 2s ease infinite alternate 0s;
    &:hover{animation-play-state: paused;}
}

@keyframes flip{
    0%{transform: rotateY(180deg);}
    100%{transform: rotateY(0deg);}
}

.flip__logo1{
    backface-visibility: hidden;
    width: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo1__text{text-align: center;}
    .logo1__text1{
        text-transform: uppercase;
        color: rgba(87, 84, 69, 1);
        letter-spacing: 1.2px;
        font-size: 15px;
    }
    .logo1__text2{
        text-transform: uppercase;
        color: rgba(87, 84, 69, 1);
        font-size: 12.3px;
    }
}

.flip__logo2{
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 128px;
    display: flex;
    align-items: center;
    .logo2__text{
        margin-left: 5px;
        text-align: center;
    }
    .logo2__text1{
        text-transform: uppercase;
        color: rgba(87, 84, 69, 1);
        letter-spacing: 1.2px;
        font-size: 15px;
    }
    .logo2__text2{
        text-transform: uppercase;
        color: rgba(87, 84, 69, 1);
        font-size: 12.13px;
    }
}

.row__2nd-part{
    flex: 0 1 788px;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 460px;
    align-items: center;
    justify-content: space-between;
    .nav__links{
        font-size: 13px;
        line-height: 14px;
        color: rgba(68, 68, 68, 1);
        &:hover{
            color: rgba(230, 185, 57, 1);
        }
    }
}

.buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button1{
    margin: 8px 0px 8px 16px;
    .button1__buy-template{
        padding: 13.5px 18px 13.5px 18px;
        background-color: rgba(87, 84, 69, 1);
        border-radius: 6px;
        color: white;
        font-size: 16px;
        line-height: 22px;
        &:hover{ background-color: rgb(57, 84, 69);}
    }    
}

.button2{
    margin: 8px 0px 8px 16px;
    .button2__cart{
        display: flex;
        align-items: center;
        padding: 13.5px 18px 13.5px 18px;
        background-color: rgba(87, 84, 69, 1);
        border-radius: 6px;
        &:hover{ background-color: rgb(57, 84, 69);}
        .cart__text{
            margin-left: 8px;
            margin-right: 8px;
            color: white;
            font-size: 16px;
            line-height: 22px;
        }
        .cart__circle{
            background-color: white;
            height: 18px;
            width: 20px;
            border-radius: 50%;
            .circle__number{
                font-size: 11px;
                line-height: 18px;
            }
        }
    }
}

.content{
    flex: 1 1 auto;
}

.box1{
    border: 1px solid rgb(0, 0, 0, 0);
    max-width: 1440px;
    margin: 0px auto;
    background: url('Outdoor img/Outdoor\ img\ content/IMAGE.jpg') center/cover no-repeat;
}

.exploration{
    margin-top: 200px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(230, 185, 57, 0);
    animation: exploration-kf 2s ease-out 0.5s forwards;
}

@keyframes exploration-kf {
    0%{color: rgba(230, 185, 57, 0);}
    100%{color: rgba(230, 185, 57, 1);}
}

h1{
    margin-top: 11px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 58px;
    color: rgba(255, 255, 255, 0);
    max-width: 416px;
    animation: h1-kf 2s linear 1.5s forwards;
}

@keyframes h1-kf {
    0%{color: rgba(255, 255, 255, 0);}
    100%{color: rgba(255, 255, 255, 1);}
}

.lorem1{
    margin-bottom: 227px;
    font-size: 17px;
    line-height: 25px;
    color: rgba(202, 204, 209, 0);
    max-width: 495px;
    animation: lorem1-kf 2s linear 2.5s forwards;
}

@keyframes lorem1-kf {
    0%{color: rgba(202, 204, 209, 0);}
    100%{color: rgba(202, 204, 209, 1);}
}

@media (max-width: 561px){
    .exploration{
        font-size: 13px;
        margin-top: 170px;
    }
    h1{
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 14px;
        line-height: 50px;
    }
    .lorem1{
        font-size: 15px;
        margin-bottom: 187px;
        max-width: 340px;
        line-height: 22px;
    }
}

@media (max-width: 476px){
    .exploration{
        font-size: 12px;
        margin-top: 140px;
    }
    h1{
        font-size: 32px;
        margin-top: 9px;
        margin-bottom: 12px;
        max-width: 320px;
        line-height: 42px;
    }
    .lorem1{
        font-size: 13px;
        margin-bottom: 157px;
        max-width: 395px;
        line-height: 19px;
    }
}

@media (max-width: 391px){
    .exploration{
        font-size: 11px;
        margin-top: 110px;
    }
    h1{
        font-size: 24px;
        margin-top: 8px;
        margin-bottom: 10px;
        line-height: 34px;
        max-width: 240px;
    }
    .lorem1{
        font-size: 11px;
        margin-bottom: 127px;
        line-height: 16px;
        max-width: 230px;
    }
}

.box2{
    border: 1px solid rgb(0, 0, 0, 0);
    max-width: 1440px;
    margin: 0px auto;
    background: url('Outdoor img/Outdoor\ img\ content/Combined-Shape.png') 8px 113% no-repeat, 
                url('Outdoor img/Outdoor\ img\ content/Combined-Shape.png') right -30px no-repeat;
}

.box2-row{
    display: flex; 
    margin-top: 73px;
    margin-bottom: 73px;
    align-items: center;
    justify-content: center;
}

.box2-row__img{
    margin-right: 16px;
    .img__pic1{width: 100%;}
}
.box2-row__info{
    width: 382px;
    margin-left: 16px;
    .info__who{@extend %model1;}
    .info__a-bit{@extend %model2;}
    .info__we-are{@extend %model3;}
    .info__read{
        width: 108px;
        margin-top: 20px;
        font-size: 15px;
        line-height: 21px;
        color: rgba(87, 84, 69, 1);
        background: url('Outdoor img/Outdoor\ img\ content/Path.svg') 89px 5.5px no-repeat;
        &:hover{color: rgba(230, 185, 57, 1);}
    }
}

@media(max-width: 666px){
    .box2{
        background: url('Outdoor img/Outdoor\ img\ content/Combined-Shape.png') 8px -30px no-repeat, 
                    url('Outdoor img/Outdoor\ img\ content/Combined-Shape.png') right 120.385% no-repeat;
    }
    .box2-row{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 48px;
        .box2-row__img{
            flex: 0 1 100%;
            display: flex;
            justify-content: center;
            margin-right: 0px;
            .img__pic1{width: 45%;}
        }
        .box2-row__info{
            margin-left: 0px;
            margin-top: 16px;
            text-align: center;
            .info__read{
                margin: 0px auto;
                margin-top: 20px;
                text-align: left;
            }
        }
    }
}

.box3{
    border: 1px solid rgb(0, 0, 0, 0);
    max-width: 1440px;
    margin: 0px auto;
    background: url('Outdoor img/Outdoor\ img\ content/Combined-Shape2.svg') 969.6px 0px no-repeat,
                url('Outdoor img/Outdoor\ img\ content/Combined-Shape3.png') bottom left no-repeat,
                rgba(250, 250, 252, 1);
}

.our-promise{
    @extend %model-box;
    .our-promise__text1{@extend %model1;}
    .our-promise__text2{@extend %model2;}
    .our-promise__text3{@extend %model3;}
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
    margin-bottom: 50px;
}

.advantages__sustainable-sourcing{
    @extend %model4;
    .sustainable-sourcing__circle {@extend %model5;}
    .sustainable-sourcing__text1{@extend %model6;}
    .sustainable-sourcing__text2{@extend %model7;}
}

.advantages__lifetime-warranty{
    @extend %model4;
    .lifetime-warranty__circle {@extend %model5;}
    .lifetime-warranty__text1{@extend %model6;}
    .lifetime-warranty__text2{@extend %model7;}
}

.advantages__all-terrain-tested{
    @extend %model4;
    .all-terrain-tested__circle {@extend %model5;}
    .all-terrain-tested__text1{@extend %model6;}
    .all-terrain-tested__text2{@extend %model7;}
}

.advantages__premium-materials{
    @extend %model4;
    .premium-materials__circle {@extend %model5;}
    .premium-materials__text1{@extend %model6;}
    .premium-materials__text2{@extend %model7;}
}

.advantages__designed-by-you{
    @extend %model4;
    .designed-by-you__circle {@extend %model5;}
    .designed-by-you__text1{@extend %model6;}
    .designed-by-you__text2{@extend %model7;}
}

.advantages__quality-assured{
    @extend %model4;
    .quality-assured__circle {@extend %model5;}
    .quality-assured__text1{@extend %model6;}
    .quality-assured__text2{@extend %model7;}
}

@media(max-width: 666px){
    %model4{
        flex: 1 1 50%;
        padding: 25px 8px 29.5px 8px;
    }
    .our-promise{margin-top: 75px;}
    .advantages{margin-bottom: 45.5px;}
}

@media(max-width: 456px){
    %model4{
        flex: 1 1 100%;
        padding: 15px 8px 19.5px 8px;
    }
    .our-promise{margin-top: 50px;}
    .advantages{margin-bottom: 30.5px;}
}

.box4{
    max-width: 1440px;
    margin: 0px auto;
}

.meet-the-family{
    @extend %model-box;
    margin-top: 99px;
    .meet-the-family__text1{@extend %model1;}
    .meet-the-family__text2{@extend %model2;}
    .meet-the-family__text3{@extend %model3;}
}

@media(max-width: 666px){.meet-the-family{margin-top: 75px;}}
@media(max-width: 456px){.meet-the-family{margin-top: 50px;}}

.container2{
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 8px;
    padding-right: 8px;
}

.store{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 4px 0px;
}

.store__accessories{
    @extend %model-store;
    background: url('Outdoor img/Outdoor\ img\ content/img1.png') center/cover no-repeat;
    .accessories__text1{@extend %store__text1;}
    .accessories__text2{@extend %store__text2;}
    .accessories__link1{
        @extend %store__link;
        width: 145px;
        .link1__text{@extend %link__text;}
    }
}

.store__apparel{
    @extend %model-store;
    background: url('Outdoor img/Outdoor\ img\ content/img2.png') center/cover no-repeat;
    .apparel__text1{@extend %store__text1;}
    .apparel__text2{@extend %store__text2;}
    .apparel__link2{
        @extend %store__link;
        width: 117px;
        .link2__text{
            @extend %link__text;
            &:hover{color: rgba(230, 185, 57, 1);}
        }
    }
}

.store__climbing-gear{
    @extend %model-store;
    background: url('Outdoor img/Outdoor\ img\ content/img3.png') center/cover no-repeat;
    .climbing-gear__text1{@extend %store__text1;}
    .climbing-gear__text2{@extend %store__text2;}
    .climbing-gear__link3{
        @extend %store__link;
        width: 163px;
        .link3__text{@extend %link__text;}
    }
}

.store__headwear{
    @extend %model-store;
    background: url('Outdoor img/Outdoor\ img\ content/img4.png') center/cover no-repeat;
    .headwear__text1{@extend %store__text1;}
    .headwear__text2{@extend %store__text2;}
    .headwear__link4{
        @extend %store__link;
        width: 133.2px;
        .link4__text{@extend %link__text;}
    }
}

.store__hiking-gear{
    @extend %model-store;
    background: url('Outdoor img/Outdoor\ img\ content/img5.png') center/cover no-repeat;
    .hiking-gear__text1{@extend %store__text1;}
    .hiking-gear__text2{@extend %store__text2;}
    .hiking-gear__link5{
        @extend %store__link;
        width: 142px;
        .link5__text{@extend %link__text;}
    }
}

.store__jackets{
    @extend %model-store;
    background: url('Outdoor img/Outdoor\ img\ content/img6.png') center/cover no-repeat;
    .jackets__text1{@extend %store__text1;}
    .jackets__text2{@extend %store__text2;}
    .jackets__link6{
        @extend %store__link;
        width: 115.4px;
        .link6__text{
            @extend %link__text;
            &:hover{color: rgba(230, 185, 57, 1);}
        }
    }
}

.show{
    display: flex;
    justify-content: space-between;
    width: 171px;
    margin: 0px auto;
    margin-bottom: 100px;
    .show__text{
        font-size: 15px;
        line-height: 21px;
        color: rgba(87, 84, 69, 1);
        &:hover{color: rgba(230, 185, 57, 1);}
    }
}

@media(max-width: 666px){.show{margin-bottom: 75px;}}
@media(max-width: 456px){.show{margin-bottom: 50px;}}

.box5{
    max-width: 1440px;
    margin: 0px auto;
    background: url('Outdoor img/Outdoor\ img\ content/ocean.png') center/cover no-repeat;
}

.container3{
    display: flex;
    justify-content: end;
    max-width: 1392px;
    margin: 0px auto;
    padding-right: 16px;
    padding-left: 16px;
}

.box5__social-networks{
    flex: 0 1 513px;
    margin: 512px 0px 40px 0px;
    padding: 0px 22px 16px 22px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background-color: rgba(41, 44, 50, 1);
}

@media(max-width: 666px){
    .box5__social-networks{
        margin: 384px 0px 40px 0px;
    }
}
@media(max-width: 561px){
    .box5__social-networks{
        flex-direction: column;
        max-width: 182px;
    }
    .container3{justify-content: start;}
}
@media(max-width: 456px){
    .box5__social-networks{
        margin: 256px 0px 40px 0px;
    }
}

.social-networks__kit{
    display: flex;
    justify-content: space-between;
    width: 88px;
    margin-top: 16px;
    .kit__text{@extend %social-networks__text;}
}

.social-networks__brian{
    display: flex;
    justify-content: space-between;
    width: 101px;
    margin-top: 16px;
    .brian__text{@extend %social-networks__text;}
}

.social-networks__leah{
    display: flex;
    justify-content: space-between;
    width:  82px;
    margin-top: 16px;
    .leah__text{@extend %social-networks__text;}
}

.social-networks__catalina{
    display: flex;
    justify-content: space-between;
    width: 138px;
    margin-top: 16px;
    .catalina__text{@extend %social-networks__text;}
}

.box6{
    border: 1px solid rgba(55, 92, 88, 1);
    max-width: 1440px;
    margin: 0px auto;
    background: url('Outdoor img/Outdoor\ img\ content/Combined-Shape4.png') center/cover no-repeat, 
                rgba(55, 92, 88, 1);
}

.box6__minibox{
    @extend %model-box;
    margin-top: 99px;
    .minibox__shop{
        @extend %model1;
        color: rgba(250, 250, 252, 1);
    }
    .minibox__check-out{
        @extend %model2;
        color: rgba(230, 185, 57, 1);
    }
    .minibox__morbi{
        @extend %model3;
        color: rgba(250, 250, 252, 1);
    }
}

@media (max-width: 561px){.box6__minibox{margin-top: 74px;}}
@media (max-width: 476px){.box6__minibox{margin-top: 49px;}}

.box6__link{
    max-width: 111px;
    margin: 0px auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    margin-top: 21px;
    margin-bottom: 99px;
    padding: 10.5px 0px 10.5px 0px;
    text-align: center;
    .visit-shop{
        color: rgba(87, 84, 69, 1);
        font-size: 15px;
        line-height: 22px;
        &:hover{color: rgba(230, 185, 57, 1);}
    }
}

@media (max-width: 561px){.box6__link{margin-bottom: 74px;}}
@media (max-width: 476px){.box6__link{margin-bottom: 49px;}}

.box7{
    max-width: 1440px;
    margin: 0px auto;
}

.box7__bg{
    max-width: 538px;
    margin: 100px 8px 0px 8px;
    .bg__text1{@extend %model1;}
    .bg__text2{@extend %model2;}
    .bg__text3{@extend %model3;}
}

.box7__extreme{
    display: flex;
    justify-content: space-between;
    .extreme__first{margin: 20px 8px 0px 8px;}
    .extreme__second{margin: 20px 8px 0px 8px;}
}

@media(max-width: 663px){
    .box7__bg{
        max-width: 100%;
        margin: 0px auto;
        margin: 75px 8px 0px 8px;
        text-align: center;
    }
    .box7__extreme{
        flex-wrap: wrap;
        justify-content: center;
        .extreme__first{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 0 1 100%;
            .first__comment1{
                min-height: 1px;
                .comment1__text{position: relative;}
            }
        }
        .extreme__second{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 0 1 100%;
            .second__comment2{
                min-height: 1px;
                .comment2__text{position: relative;}
            }
        }
    }
}
@media(max-width: 476px){.box7__bg{margin: 50px 8px 0px 8px;}}

.first__img{width: 100%;}

.first__comment1{
    position: relative;
    margin-top: 18px;
    margin-bottom: 12.14px;
    max-width: 465px;
    min-height: 50px;
    color: rgba(87, 84, 69, 1);
    font-size: 20px;
    line-height: 24px;
    .comment1__text{
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0px;
    }
}

.first__author1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .autor1__photo-name1{
        display: flex;
        align-items: center;
        .photo-name1__photo{max-width: 100%;}
        .photo-name1__name1{
            margin-left: 12px;
            margin-right: 12px;
            .name1__alex{
                font-family: 'Roboto';
                font-size: 13px;
                line-height: 18px;
                color: rgba(87, 84, 69, 1);
            }
            .name1__qa{
                font-size: 11px;
                line-height: 15px;
                color: rgba(230, 185, 57, 1);
            }
        }
    }
    .author1__date1{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 18px;
        color: rgba(111, 114, 120, 1);
    }
}

.second__img{width: 100%;}

.second__comment2{
    position: relative;
    margin-top: 18px;
    margin-bottom: 12.14px;
    max-width: 465px;
    min-height: 50px;
    color: rgba(87, 84, 69, 1);
    font-size: 20px;
    line-height: 24px;
    .comment2__text{
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0px;
    }
}

@media(max-width: 561px){
    .first__comment1{font-size: 17px;}
    .second__comment2{font-size: 17px;}
}

@media(max-width: 476px){
    .first__comment1{font-size: 14px;}
    .second__comment2{font-size: 14px;}
}

@media(max-width: 391px){
    .first__comment1{font-size: 11px;}
    .second__comment2{font-size: 11px;}
}

.second__author2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .autor2__photo-name2{
        display: flex;
        align-items: center;
        .photo-name2__photo{max-width: 100%;}
        .photo-name2__name2{
            margin-left: 12px;
            margin-right: 12px;
            .name2__woodie{
                font-family: 'Roboto';
                font-size: 13px;
                line-height: 18px;
                color: rgba(87, 84, 69, 1);
            }
            .name2__pd{
                font-size: 11px;
                line-height: 15px;
                color: rgba(230, 185, 57, 1);
            }
        }
    }
    .author2__date2{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 18px;
        color: rgba(111, 114, 120, 1);
    }
}


.box7__show-all-bg{
    width: 201px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    .show-all-bg__text{
        color: rgba(87, 84, 69, 1);
        font-size: 15px;
        line-height: 21px;
        &:hover{color: rgba(230, 185, 57, 1);}
    }
}

.box8{
    border: 1px solid rgb(0, 0, 0, 0);
    max-width: 1440px;
    margin: 0px auto;
    background: url('Outdoor img/Outdoor\ img\ content/Combined-Shape5.png') 49.444% 11.609% no-repeat,
                url('Outdoor img/Outdoor\ img\ content/Combined-Shape6.png') 8px 104.523% no-repeat;
}

.box8__magazine{
    margin-top: 99px;
    margin-bottom: 99px;
    display: flex;
    align-items: center;
    .magazine__mag-box1{
        flex: 0 1 664px;
        .mag-box1__img{max-width: 100%;}
    }
    .magazine__subscribe{
        max-width: 400px;
        margin-left: 16px;
        .subscribe__text1{@extend %model1;}
        .subscribe__text2{@extend %model2;}
        .subscribe__text3{@extend %model3;}
        .subscribe__read-box8{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 108px;
            .read-box8__text{
                color: rgba(87, 84, 69, 1);
                font-size: 15px;
                line-height: 21px;
                &:hover{color: rgba(230, 185, 57, 1);}
            }
        }
    }
}

@media(max-width: 850px){
    .box8{
        background: url('Outdoor img/Outdoor\ img\ content/Combined-Shape5.png') top right no-repeat,
                    url('Outdoor img/Outdoor\ img\ content/Combined-Shape6.png') 8px 104.523% no-repeat;
    }
    .box8__magazine{
        margin-top: 74px;
        margin-bottom: 74px;
        flex-wrap: wrap;
        justify-content: center;
        .magazine__mag-box1{
            position: relative;
            flex: 0 1 400px;
            height: 250px;
            .mag-box1__img{
                position: absolute;
                top: 0px;
                left: 0px;
                object-fit: cover;
                object-position: 0% 45%;
                width: 100%; 
                height: 100%;
            }
        }
        .magazine__subscribe{
            margin-top: 25px;
            margin-left: 0px;
            text-align: center;
            max-width: 400px;
            .subscribe__read-box8{
                width: 108px;
                margin: 0px auto;
                margin-top: 20px;
            }
        }
    }
}
@media(max-width: 561px){
    .box8__magazine{
        margin-top: 64px;
        margin-bottom: 64px;
        .magazine__mag-box1{
            position: relative;
            flex: 0 1 350px;
            height: 220px;
        }            
        .magazine__subscribe{max-width: 350px;}
    }
}
@media(max-width: 476px){
    .box8__magazine{
        margin-top: 49px;
        margin-bottom: 49px;
        .magazine__mag-box1{
            position: relative;
            flex: 0 1 280px;
            height: 180px;
        }      
        .magazine__subscribe{max-width: 280px;}
    }
}

.footer__box9{
    border: 1px solid rgb(87, 84, 69, 1);
    background: rgba(87, 84, 69, 1);
    max-width: 1440px;
    margin: 0px auto;
}

.box9__img{
    width: 164px;
    margin: 0px auto;
    margin-top: 99px;
    margin-bottom: 51px;
}

@media(max-width: 992px){
    .box9__img{
        margin-top: 74px;
        margin-bottom: 26px;
    }
}
@media(max-width: 767px){
    .box9__img{
        margin-top: 49px;
        margin-bottom: 8px;
    }
}

.box9__footer-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-row__pages{
        flex: 0 1 100px;
        margin: 24px 16px 8px 16px;
        @extend %footer-minibox;
        .pages__title{@extend %model1;}
        .pages__home{@extend %footer-links;}
        .pages__shop{@extend %footer-links;}
        .pages__categories{@extend %footer-links;}
        .pages__bg{@extend %footer-links;}
        .pages__404{@extend %footer-links;}
        .pages__password{@extend %footer-links;}
    }
    .footer-row__gear-categories{
        flex: 0 1 154px;
        margin: 24px 16px 8px 16px;
        @extend %footer-minibox;
        .gear-categories__title{@extend %model1;}
        .gear-categories__hiking-gear{@extend %footer-links;}
        .gear-categories__climbing-gear{@extend %footer-links;}
        .gear-categories__jackets{@extend %footer-links;}
        .gear-categories__accessories{@extend %footer-links;}
        .gear-categories__apparel{@extend %footer-links;}
        .gear-categories__headwear{@extend %footer-links;}
    }
    .footer-row__company{
        flex: 0 1 137px;
        margin: 24px 16px 8px 16px;
        @extend %footer-minibox;
        .company__title{@extend %model1;}
        .company__about-us{@extend %footer-links;}
        .company__our-team{@extend %footer-links;}
        .company__contact{@extend %footer-links;}
        .company__terms{@extend %footer-links;}
        .company__style-guide{@extend %footer-links;}
        .company__licenses{@extend %footer-links;}
    }
    .footer-row__newsletter{
        flex: 0 1 458px;
        margin: 24px 16px 8px 16px;
        .newsletter__title{@extend %model1;}
        .newsletter__text{
            max-width: 438px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 20px;
            color: rgba(250, 250, 252, 1);
        }
        .newsletter__email{
            border-radius: 8px;
            border: 1px solid #E5E7EB;
            background: #F9FAFB;
            display: flex;
            justify-content: space-between;
            padding: 7px;
            .email__input{
                flex: 0 1 364px;
                padding: 9px 14px 9px 14px;
                border-radius: 8px;
                background: #F9FAFB;
                &:focus{background: rgba(132, 159, 187, 0.4);}
            }
            .email__email-button{
                border-radius: 10px;
                background: rgba(87, 84, 69, 1);
                margin-left: 7px;
                min-width: 73px;
                .email-button__submit{
                    @extend %footer-links;
                    margin: 9.5px 11.5px 9.5px 11.5px;
                }
            }
            @media(max-width: 350px){
                .email__input{
                    padding: 9px 0px 9px 7px;
                }
                .email__email-button{
                    min-width: 60px;
                    .email-button__submit{
                        margin: 9.5px 5px 9.5px 5px;
                    }
                }
            }
        }
    }
}
.box9__footer-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 16px 99px 16px;
    .footer-row2__text{
        @extend %footer-links;
        margin-right: 32px;
    }
    .footer-row2__footer-social-networks{
        flex: 0 0 156px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media(max-width: 992px){
    .box9__footer-row2{margin: 32px 16px 74px 16px;}
}
@media(max-width: 767px){.box9__footer-row2{margin-bottom: 49px;}}

@media(max-width: 400px){
    .box9__footer-row2{
        flex-wrap: wrap;
        .footer-row2__text{
            order: 2;
            text-align: center;
            margin-right: 0px;
            margin-top: 32px;
        }
        .footer-row2__footer-social-networks{
            order: 1;
            margin: 0px auto;
            flex: 0 0 75%;
        }
    }
}

@media(max-width:352px){
    .box9__footer-row{
        align-items: center;
        .footer-row__pages, .footer-row__gear-categories, .footer-row__company{
            text-align: center;
            flex: 0 1 100%;
        }
        .footer-row__newsletter{
            margin: 24px 8px 8px 8px;
        }
    }
    .box9__footer-row2{
        margin: 32px 8px 49px 8px;
    }
}
@media(max-width:310px){
    .box9__footer-row{
        .footer-row__newsletter{
            margin: 24px -8px 8px -8px;
            text-align: center;
            .newsletter__title, .newsletter__text{padding: 0px 16px;}
            .newsletter__email{
                border-radius: 0px;
            }
        }
    }
}